
<div style="font-size: 20px; position: relative; top: 60px; left: 50px; font-weight: bold;">
    {{ user.first_name }} {{user.last_name}}
</div>


<!--First row-->
<div style="font-weight:bold; text-align:center; height: 25px; width: 180px; background-color: gray; font-size: 12px; position: relative; top: 80px; left: 50px;">
    Computer science major
</div>


<div style="font-weight:bold; text-align:center; height: 25px; width: 90px; background-color: rgb(41, 33, 74); font-size: 12px; position: relative; top: 55px; left: 250px;">
    Senior
</div>


<!--Second row-->
<div style="font-weight:bold; text-align:center; height: 25px; width: 100px; background-color: gray; font-size: 12px; position: relative; top: 80px; left: 50px;">
    classes
</div>




<!--Third row-->
<div style="font-weight:bold; text-align:center; height: 25px; width: 100px; background-color: gray; font-size: 12px; position: relative; top: 105px; left: 50px;">
    Bio
</div>







