
<div style="font-size: 20px; position: relative; top: 60px; left: 50px; font-weight: bold;">
    {{ user.first_name }} {{user.last_name}}
</div>


<!--First row-->
<div style="font-weight:bold; text-align:center; height: 25px; width: 180px; background-color: gray; font-size: 12px; position: relative; top: 80px; left: 50px;">
    Computer science major
</div>


<div style="font-weight:bold; text-align:center; height: 25px; width: 90px; background-color: rgb(41, 33, 74); font-size: 12px; position: relative; top: 55px; left: 250px;">
    Senior
</div>


<!--Second row-->
<div style="font-weight:bold; text-align:center; height: 25px; width: 100px; background-color: gray; font-size: 12px; position: relative; top: 80px; left: 50px;">
    classes
</div>


<div style="font-weight:bold; text-align:center; height: 25px; width: 180px; background-color: rgb(41, 33, 74); font-size: 12px; position: relative; top: 55px; left: 160px;">
    COS497, COS331, COS454
</div>


<!--Third row-->
<div style="font-weight:bold; text-align:center; height: 25px; width: 100px; background-color: gray; font-size: 12px; position: relative; top: 80px; left: 50px;">
    Bio
</div>




<!--bio text box-->
<!--<form>
<textarea name="bioText" id="bioText" cols="30" rows="10"></textarea>    
<div style="font-weight:bold; text-align:center; height: 100px; width: 300px; background-color: rgb(41, 33, 74); font-size: 12px; position: relative; top: 55px; left: 160px;">
    
</div>


</form>
-->


<form style="font-weight:bold; text-align:center; height: 100px; width: 300px; background-color: rgb(41, 33, 74); font-size: 12px; position: relative; top: 55px; left: 160px;" action="/action_page.php">
    <textarea id="w3review" name="w3review" rows="10" cols="50">
      </textarea>
      <br><br>
      <input type="submit" value="Submit">
    </form>


<button style="font-weight:bold; text-align:center; height: 25px; width: 75px; background-color: red; font-size: 12px; position: relative; top: 100px; left: 185px;">
    Cancel
</button>

<button style="font-weight:bold; text-align:center; height: 25px; width: 100px; background-color: green; font-size: 12px; position: relative; top: 100px; left: 200px;">
    Confirm Edits
</button>


