




<div style="font-size: 20px; position: relative; top: 60px; left: 50px; font-weight: bold;">
    {{ user.first_name }} {{user.last_name}}
</div>




<!--First row-->
<div style="font-weight:bold; text-align:center; height: 25px; width: 180px; background-color: gray; font-size: 12px; position: relative; top: 80px; left: 50px;">
    Computer science major
</div>


<div style="font-weight:bold; text-align:center; height: 25px; width: 90px; background-color: rgb(41, 33, 74); font-size: 12px; position: relative; top: 55px; left: 250px;">
    Senior
</div>


<!--Second row-->
<div style="font-weight:bold; text-align:center; height: 25px; width: 100px; background-color: gray; font-size: 12px; position: relative; top: 80px; left: 50px;">
    classes
</div>


<div style="font-weight:bold; text-align:center; height: 25px; width: 180px; background-color: rgb(41, 33, 74); font-size: 12px; position: relative; top: 55px; left: 160px;">
    COS497, COS331, COS454
</div>


<!--Third row-->
<div style="font-weight:bold; text-align:center; height: 25px; width: 100px; background-color: gray; font-size: 12px; position: relative; top: 80px; left: 50px;">
    position
</div>


<div style="font-weight:bold; text-align:center; height: 25px; width: 50px; background-color: rgb(41, 33, 74); font-size: 12px; position: relative; top: 55px; left: 160px;">
    MLA
</div>



<!--Fourth row-->
<div style="font-weight:bold; text-align:center; height: 25px; width: 160px; background-color: gray; font-size: 12px; position: relative; top: 80px; left: 50px;">
    Topic/Class Proficiencies
</div>


<div style="font-weight:bold; text-align:center; height: 25px; width: 235px; background-color: rgb(41, 33, 74); font-size: 12px; position: relative; top: 55px; left: 220px;">
    COS125, COS140, COS226, COS250
</div>


<!--Fifth row-->
<div style="font-weight:bold; text-align:center; height: 25px; width: 100px; background-color: gray; font-size: 12px; position: relative; top: 80px; left: 50px;">
    Bio
</div>
