{% extends 'main/base.html' %}
{% load socialaccount %}




{% block leftnav %}
<a href="/calendarMonth/0/0/0/" class="sidebar-button-open unselectable">Calendar</a>
<a href="/calendarMonth/0/0/0/" class="sidebar-button-closed unselectable">Account</a>
{% endblock %}

{% block content %}
<!-- Center Flex Box -->
<div class="center-content">
    <div class="center-content-tab-container">
      <div class="center-content-open-tab unselectable">myAccount</div>
      <div class="center-content-blank-tab"></div>
      <div class="center-content-blank-tab"></div>
    </div>
    <div class="center-content-tab-content-container">

      <div class="center-content-tab-content">

     

        <!-- PAGE CONTENT GOES HERE -->


        {% include 'elements/myAccount_Student_content.html' %}
        <div class="center-block">
      
                <!--First row-->
            <div class="first-line">
              <div style="font-weight:bold; text-align:center; height: 25px; width: 180px; background-color: gray; font-size: 12px; position: relative; top: 80px; left: 50px;">
                  Computer science major
              </div>


              <div style="font-weight:bold; text-align:center; height: 25px; width: 90px; background-color: rgb(41, 33, 74); font-size: 12px; position: relative; top: 55px; left: 250px;">
                Senior
              </div>
            </div>

              <!--Second row-->
            <div class="Second-line">
              <div style="font-weight:bold; text-align:center; height: 25px; width: 100px; background-color: gray; font-size: 12px; position: relative; top: 80px; left: 50px;">
                classes
              </div>
            

               <div style="font-weight:bold; text-align:center; height: 25px; width: 180px; background-color: rgb(41, 33, 74); font-size: 12px; position: relative; top: 55px; left: 160px;">
                 COS497, COS331, COS454
               </div>
            </div>


              {% if user.is_helper%}
              <!--third row-->
            <div class="Third-line">
              <div style="font-weight:bold; text-align:center; height: 25px; width: 100px; background-color: gray; font-size: 12px; position: relative; top: 80px; left: 50px;">
                position
              </div>
            
            
              <div style="font-weight:bold; text-align:center; height: 25px; width: 50px; background-color: rgb(41, 33, 74); font-size: 12px; position: relative; top: 55px; left: 160px;">
                  MLA
              </div>
            </div>

            <!--Fourth row-->
          <div class="Fourth-line">
            <div style="font-weight:bold; text-align:center; height: 25px; width: 160px; background-color: gray; font-size: 12px; position: relative; top: 80px; left: 50px;">
              Topic/Class Proficiencies
            </div>
          
          
            <div style="font-weight:bold; text-align:center; height: 25px; width: 235px; background-color: rgb(41, 33, 74); font-size: 12px; position: relative; top: 55px; left: 220px;">
              COS125, COS140, COS226, COS250
            </div>
          </div>
            {% endif %}


              <!--Fifth row-->
              <div class="Fifth-line">
                <div style="font-weight:bold; text-align:center; height: 25px; width: 100px; background-color: gray; font-size: 12px; position: relative; top: 80px; left: 50px;">
                  Bio
                </div>


                <div style="font-weight:bold; text-align:center; height: 100px; width: 300px; background-color: rgb(41, 33, 74); font-size: 12px; position: relative; top: 55px; left: 160px;">
                  None... Yet
                </div>
              </div>

              <div class="Sixrh-line">
                <button onclick="window.location.href='http://127.0.0.1:8000/myAccount_Edit/'" style="font-weight:bold; text-align:center; height: 25px; width: 75px; background-color: red; font-size: 12px; position: relative; top: 100px; left: 185px;">
                   Edit
                </button>
              </div>

        </div>
        <!-- END PAGE CONTENT -->

      </div>
    </div>
  </div>
  <!-- End of Center Flex Box -->

{% endblock %}



