{% extends 'main/base.html' %}
{% load socialaccount %}




{% block leftnav %}
<a href="/calendarMonth/0/0/0/" class="sidebar-button-open unselectable">Calendar</a>
<a href="/calendarMonth/0/0/0/" class="sidebar-button-closed unselectable">Account</a>
{% endblock %}

{% block content %}
<!-- Center Flex Box -->
<div class="center-content">
    <div class="center-content-tab-container">
      <div class="center-content-open-tab unselectable">myAccount</div>
      <div class="center-content-blank-tab"></div>
      <div class="center-content-blank-tab"></div>
    </div>
    <div class="center-content-tab-content-container">

      <div class="center-content-tab-content">

     

        <!-- PAGE CONTENT GOES HERE -->
        {% include 'elements/myAccount_Student_Edit_content.html' %}
      <div class="center-block" style="position: relative; top: 100px;">

        <!--First line-->
        <div class="first-line">
          <div style="font-weight:bold; text-align:center; height: 25px; width: 180px; background-color: gray; font-size: 12px; 
          position: relative; left: 50px;">
            Computer science major
          </div>
      
      
        <div style="font-weight:bold; text-align:center; height: 25px; width: 90px; background-color: rgb(41, 33, 74); font-size: 12px;
          position: relative; left: 250px; bottom: 25px;">
          Senior
        </div>
      </div>
      
      <div class="Second-line">
        <div style="font-weight:bold; text-align:center; height: 25px; width: 100px; background-color: gray; font-size: 12px; position: relative; left: 50px;">
         classes
        </div>
  

          <select class="select" multiple style="position: relative; bottom: 25px; left: 163px; width: 150px; height: 65px;
           background-color: rgb(41, 33, 74);">
            <option value="COS497">COS497 </option>
            <option value="COS331">COS331</option>
            <option value="COS454">COS454</option>
            
          </select>
        </div>
        <!--Second line end-->

          {% if user.is_helper%}
          <div class="Third-line">
          <div style="font-weight:bold; text-align:center; height: 25px; width: 100px; background-color: gray; font-size: 12px; position: relative; left: 50px;">
            position
          </div>
          
          <div style="font-weight:bold; text-align:center; height: 25px; width: 50px; background-color: rgb(41, 33, 74); font-size: 12px; position: relative; 
          left: 160px; bottom:25px">
            MLA
          </div>
        </div>
        <!--Third line end-->


        <div class="Fourth-line">
          <div style="font-weight:bold; text-align:center; height: 25px; width: 160px; background-color: gray; font-size: 12px; position: relative; left: 50px;">
            Topic/Class Proficiencies
        </div>

        <select class="select" multiple style="position: relative; bottom: 25px; left: 220px; width: 150px; height: 65px;
        background-color: rgb(41, 33, 74);">
         <option value="COS497">COS125 </option>
         <option value="COS331">COS140</option>
         <option value="COS454">COS226</option>
         <option value="COS454">COS250</option>
         
       </select>
      </div>
      <!--Fourth line end-->

        {% endif %}

          



        
        <div class="Fifth-line">
          <div style="font-weight:bold; text-align:center; height: 25px; width: 100px; background-color: gray; font-size: 12px; 
          position: relative; left: 50px;">
            Bio
          </div>
        


          <form action="/action_page.php">
            <textarea name="message" rows="10" cols="60" style="position: relative; bottom: 25px; left: 160px; background-color: rgb(41, 33, 74);"></textarea>
       
          </form>
        </div>
        <!--Fifth line end-->


        <div class="Sixth-line">
          <button onclick="window.location.href='http://127.0.0.1:8000/myAccount/'" style="font-weight:bold; text-align:center; height: 25px; width: 75px; background-color: red; font-size: 12px; position:
           relative; left: 185px; top: 30px;">
            Cancel
          </button>
    
          <button onclick="window.location.href='http://127.0.0.1:8000/myAccount/'" style="font-weight:bold; text-align:center; height: 25px; width: 100px; background-color: green; font-size: 12px;
           position: relative; left: 200px; top: 30px;">
            Confirm Edits
          </button>

          </div>
        </div>

        <!-- END PAGE CONTENT -->

      </div>
    </div>
  </div>
  <!-- End of Center Flex Box -->

{% endblock %}

